body{
	font-size:"microsoft yahei ","Arial","黑体","宋体";
}
ul,li,div,p,h1,h2,h3,h4,h5,h6,ol{
	margin:0;
	padding:0;
}
#container ul li ol{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:black;
}
#container:after{
	content:"";
	display:block;
	clear:both;
	}
#container{
	margin-top:30px;
	
}


#left,#right{
	border:1px dashed green;
    float:left;
}
#left{
	width:23%;
	height:900px;
	background:url("16.png")no-repeat;
	background-size:100% 900px;
	margin-left:10px;
	
}
#container #left .my_photo,#container #left .contect,#container #left .pro{
	width:100%;
	height:295px;
	border:1px dashed green;
}	
.my_photo img:nth-child(1){
	width:150px;
	height:150px;
	border-radius:50%;
	text-align:center;
    margin-left:80px;
	margin-top:30px;
}	
	
	

.contect{
	text-align:center;
	vertical-align:middle;
	line-height:50px;
	list-style:none;
	

}
.pro{
	list-style:none;
	vertical-align:middle;
	text-align:center;
	vertical-align:middle;
	line-height:50px;
	color:white;
	text-shadow:5px 5px 10px blue;
	font-size:bold;

}
#right{
	width:75%;
	height:900px;
	position:relative;
	background-image:url("20.png");
	background-size:100%;
	
}
 

#right img{
	width:30%;
	position:absolute;
	box-shadow:5px 5px 10px white;
}	
	
	
#right img:first-child{
      top:557px;
	  left:630px;
	  width:20%;
	 
	  transform:rotate(35deg);
	  
}	 

#right img:nth-child(2){
      top:77px;
	  left:427px;
	  width:80px;
	  border-radius:50%;
	 
	   Z-index:2;
	   animation:first 10s linear infinite alternate;
}
	@keyframes first{
		0%{margin-top:60px;margin-left:43px;}
		25%{margin-top:20px;margin-left:0px;}
		50%{margin-top:60px;margin-left:-40px;}
		75%{margin-top:40px;margin-left:-70px;}
		100%{margin-top:0px;margin-left:50px;}

}	
	 
	  
	  
#right img:nth-child(3){
      top:56px;
	  left:118px;
	  width:20%;
	  transform:rotate(35deg);
	 }
	 
	 
	


 

#right img:nth-child(4){
      top:77px;
	  left:629px;
	  transform:rotate(-15deg);
	  transform-origin:top-left;
	  width:80% 80%;
}	
	 
	  
#right img:nth-child(5){
      top:266px;
	  left:418px;
	  width:150px;
	  transform:rotate(-35deg);
	   z-index:1;
      transition: 2s linear;
	 
	  }
	 
#right img:nth-child(6){
      top:266px;
	  left:458px;
	  width:160px;
	  transform:rotate(35deg);
	  transition: 2s linear;
	  }

	 
	 





#right img:last-child{
      top:509px;
	  left:66px;
	 
	  transform:rotate(-20deg);
} 
	

#right:hover img:first-child{
		transform:rotate(360deg);
		}
#right:hover img:nth-child(2){
		transform:rotate(360deg);
		}
#right:hover img:nth-child(3){
		transform:rotate(-30deg);
		transition:transform 5s linear 1s;
		}
#right:hover img:nth-child(4){
		transform:rotate(30deg);
		transition:transform 5s linear 1s;
		}
#right:hover img:nth-child(5){
		transform:rotate(360deg);
		margin-left:200px;
		}
#right:hover img:nth-child(6){
		transform:rotate(-360deg);
		margin-left:-200px;
		}
		
#right:hover img:last-child{
		transform:rotateY(360deg);
		}		

		


		

